.App {
  width: 100vw; height: 100vh; text-align: center; font-size: 23vw; font-family: serif; overflow: hidden;
  transition: background-color .4 ease-out;
}

.Key { mix-blend-mode: soft-light; color: white; }
